<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>KANBAN Sketch - Cards Board online example tool</title>
	<style type="text/css">
		* { margin: 0 auto; font-family:"Trebuvhet Ms", Verdana, Tahoma;}
		
		html, body { height: 100%; }
		* html #agile { height: 100%;}
		.clear { clear: both; }
		body { text-align: center; background-color:#DDD; }
		a { text-decoration: none; }
		a:hover { text-decoration: underline; }
		
		#agile { 
      padding:8px;			
      text-align: justify;
			width: 800px;
			background-color: #FFF;
			min-height: 100%;
			position: relative;
		}

    #message {
      border: solid red 2px;
      font-size: 14px;
      color: red;
      text-align: center;
			margin-left: 30px;
			margin-right: 30px;
      width: auto;
    }

    table.kanban {
      font-size: 11px;
      width: auto;      
      border-collapse: collapse;
      border: solid 3px black;
    }

    table.kanban tr th {
      padding:5px;
      text-align:center;      
      backgound-color: yellow;
      border: solid 2px black;
      width:70px;
    }

    table.kanban tr td {
      padding:5px;
      vertical-align:top;
      text-align:center;      
      border: solid 2px black;
    }

    #card {
      background-color: #D8D8D8;
      border: inset 1px gray;
      margin:4px;
      padding:3px;
      width:55px;
      font-size:9px;
    }

    p.p1 {
      color:green;
      height:1em;
    }

    p.p1_violated {
      color: white;
      background-color: red;
      height:1.3em;
    }		

		#header {
      margin: 10px;			
      position: relative;
			height: 65px;
      width: 620px;
		}
		
		#header img {
			float: left;
			border: 0 none transparent;
		}
		
		#header h1.logo a:hover {
			text-decoration: none;
		}
		
		#header h1.logo {
			font-size: 10px;
			clear: both;
			margin-left: 25px;
		}
		
    #slogan {
      color:#606060;
      font-size:16px;
      margin-left:110px;
      margin-top:25px;
      position:absolute;
    }
    #slogan a {
      font-size: 10px;
		}
		#header #nav {
			position: absolute;
			bottom: 10px;
			right: 0;
		}
		
		#header #nav li {
			float: right;
			width: 100px;
			list-style: none;
		}
		
		#header #nav li a {
			font-size: 12px;
		}
		
    #share_url {
      text-align: center;
      margin: 8px;      
      color: blue;
      font-size: 10px;
    }

		#dsl {
			text-align: center;
			padding-top: 10px;
			padding-bottom: 20px;
			width: 800px;
      vertical-align:top;
		}
		
		#dsl textarea {
      padding: 0px;
			text-align: left;
			font-size: 11px;
			width: 600px;
			height: 100px;
		}
    
    #dsl input {
			width: 100px;
			height: 100px;
			font-size: 18px;
    }

    #usage {
      background-color: #FFFF99;
			width: 600px;
      font-size: 11px;
      padding: 8px;
		}

    #usage h1 {
      font-size: 16px;
    }

    #usage h2 {
      font-size: 14px;
    }

    #kanban_example {    
      background-color: white;
			width: auto;
      font-size: 11px;
      margin:8px;
      padding:14px;
    }

    #kanban_name {
      font-size: 12px;
      color: #FF9933;
    }

    #usage h3 {
      font-size: 12px;
    }
		
    #footer {
			clear: both;
			position: absolute;
			bottom: 2;
			width: 100%;
			height: 30px;
			line-height: 30px;
			text-align: center;
      font-size:10px;
		}
	</style>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-10190572-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <meta name="description" content="Simple online Kanban tool for sketching. Just type your value flow and share your thoughs with your friends." />

      <meta name="keywords" content="kanban, tool, sketching, WIP Limits, value flow, process, scrum, extreme programming, agile, card wall, board" />
</head>
<body>
  <div id="agile">
  Beta
  <a target="_blank" href="http://github.com/rodrigoy/kanban_sketch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub" /></a>	
		<div id="header">
			<img width="101" height="51" src="/logo.png" alt="" />
			<div id="slogan">Simply type your value flow below and click Kanban! <a href="#usage">samples...</a></div>
		</div>
		<div id="container">
      <% if @message %>      
      <div id='message'><%= @message %></div>
      <% else %>
      <table class="kanban">
        <tr>      
          <% @table.th1.each do |th| %>
          <th colspan='<%= th.colspan%>' rowspan='<%= th.rowspan%>'>
            <p class="p1<%= th.violated ? '_violated' : '' %>"><%= th.p1 %></p>
            <p class="p2"><%= th.p2 %></p>
          </th>
          <% end %>
        </tr>
        <tr>      
          <% @table.th2.each do |th| %>
          <th>
            <p class="p1<%= th.violated ? '_violated' : '' %>"><%= th.p1 %></p>
            <p class="p2"><%= th.p2 %></p>
          </th>
          <% end %>
        </tr>
        <tr>      
        <% @table.td.each do |td| %>
          <td>
          <% td.each do |div| %>
            <div id="card"><%= div %></div>
          <% end %>
          </td>
        <% end %>
        </tr>
      </table>

      <div id="share_url"><a href="<%= request.url%>"><%= request.url%></a></div>
      <% end %>
      
			<div class="clear"></div>
			<div id="dsl">
      <form action="/render" method="post">
        <textarea name="dsl" id="dsl" cols="30" rows="3"><%= @dsl_text %></textarea>
				<input value="Kanban!" type="submit" />
			</form>
      </div>
			<div class="clear"></div>
		</div>
    <div id="usage">
      <h1> Usage: </h1>
        stage [:limit] = card1, card2, card3.<br>
        -substage [:limit] = card4, card5, card6.<br><br>
      <h2> Samples </h2>
      <div id="kanban_example">
        <span id="kanban_name"> Simplest Kanban Ever </span> 
        <a href="/To%20do=Find%20a%20date,Get%20a%20job,Car%20Wash,Fix%20the%20chair.%0D%0AIn%20Progress:2=Homework,%20Watch%20TV,%20Surf%20on%20the%20Internet.%0D%0ADone=Breakfast,Bed,Wake%20Up.">view...</a><br>
        <hr>
          To do=Find a date,Get a job,Car Wash,Fix the chair.<br>
          In Progress:2=Homework, Watch TV, Surf on the Internet.<br>
          Done=Breakfast,Bed,Wake Up.<br>
      </div>
      <div id="kanban_example">
        <span id="kanban_name"> Software Development with Substages </span> 
        <a href="/Backlog=A,R,Y,U,I.%0D%0ASelected:2=F,B.%0D%0ADevelopment.%0D%0A%20%20%20-Acceptance%20Criteria:3=D,E.%0D%0A%20%20%20-In%20Progress:3=W,P,H.%0D%0A%20%20%20-Done=L.%0D%0AQuality%20Assurance:4.%0D%0A%20%20%20-In%20Progress=O,K,Q.%0D%0A%20%20%20-Done=G,V.%0D%0ATo%20Deploy:8=I,J.%0D%0AIn%20production=Z,C,J,L,M,N,S,T.">view...</a><br>
        <hr>
           Backlog=A,R,Y,U,I.<br>
           Selected:2=F,B.<br>
           Development.<br>
           &nbsp;&nbsp;&nbsp;-Acceptance Criteria:3=D,E.<br>
           &nbsp;&nbsp;&nbsp;-In Progress:3=W,P,H.<br>
           &nbsp;&nbsp;&nbsp;-Done=L.<br>
           Quality Assurance:4.<br>
           &nbsp;&nbsp;&nbsp;-In Progress=O,K,Q.<br>
           &nbsp;&nbsp;&nbsp;-Done=G,V.<br>
           To Deploy:8=I,J.<br>
           In production=Z,C,J,L,M,N,S,T.<br>
      </div>
      <div id="kanban_example">
         <span id="kanban_name"> Website Delivery </span> 
         <a href="/To%20do=Shop%20Cart,Prod%20List,Checkout,Comp%20Info.%0D%0AInformation%20Architecture:2=Product,Login,Small%20Cart.%0D%0AWeb%20Design:3=Home.%0D%0AUser%20Acceptance:2=Register,Chat.%0D%0ADevelopment:4=Search,Prev%20Orders.%0D%0ATest:4=How%20to%20Buy.%0D%0ATo%20Deploy.%0D%0AIn%20production.">view...</a><br>
          <hr>
             To do=Shop Cart,Prod List,Checkout,Comp Info.<br>
             Information Architecture:2=Product,Login,Small Cart.<br>
             Web Design:3=Home.<br>
             User Acceptance:2=Register,Chat.<br>
             Development:4=Search,Prev Orders.<br>
             Test:4=How to Buy.<br>
             To Deploy.<br>
             In production.<br>
      </div>
      <div id="kanban_example">
         <span id="kanban_name"> Training Sales Forecast </span> 
         <a href="/Leads=HomeCare,High%20Bank,UCLA,HP.%0D%0AProposal%20Sent=JKP,ULCC%20Inc,Forester,R%20Freeman.%0D%0ATraining%20Scheduled=Hare%20Con,Softpress,Joint%20Games.%0D%0ATraining%20Delivered=Raiworth,Umbrella,6Visions,Kombat,316%20Agency.%0D%0APaid=Whirlsoon,Thusthey,Rally%20Inc,Bafaway,Sinatray.">view...</a><br>
          <hr>
             Leads=HomeCare,High Bank,UCLA,HP.<br>
             Proposal Sent=JKP,ULCC Inc,Forester,R Freeman.<br>
             Training Scheduled=Hare Con,Softpress,Joint Games.<br>
             Training Delivered=Raiworth,Umbrella,6Visions,Kombat,316 Agency.<br>
             Paid=Whirlsoon,Thusthey,Rally Inc,Bafaway,Sinatray.<br>
      </div>
    </div>
		<div id="footer">
			<p>KANBAN Sketch by <a href="http://www.aspercom.com.br">Aspercom</a> Brazil 2010 - <a href="mailto:kanbansketch@aspercom.com.br">Bugs? Questions? Congrats?</a> - <a target="_blank" href="http://github.com/rodrigoy/kanban_sketch/raw/master/readme">Project Vision & History on Github</p>
		</div>
	</div>
</body>
</html>
