<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Projeto Agile Brazil - KANBAN Sketch</title>
	<style type="text/css">
		* { color: #000; margin: 0 auto; font-family:"Trebuvhet Ms", Verdana, Tahoma; font-size: 11px;}
		
		html, body { height: 100%; }
		* html #agile { height: 100%;}
		.clear { clear: both; }
		body { text-align: center; background-color:#DDD; }
		a { text-decoration: none; }
		a:hover { text-decoration: underline; }
		
		#agile { 
      padding:8px;			
      text-align: justify;
			width: 800px;
			background-color: #FFF;
			min-height: 100%;
			position: relative;
		}

    table.kanban {
      width:auto;      
      border-collapse: collapse;
      border: solid 3px black;
    }

    table.kanban tr th {
      padding:5px;
      text-align:center;      
      backgound-color: yellow;
      border: solid 2px black;
      width:70px;
    }

    table.kanban tr td {
      padding:5px;
      vertical-align:top;
      text-align:center;      
      border: solid 2px black;
    }

    #card {
      background-color: gray;
      border: inset, 1px, gray;
      margin:5px;
      padding:3px;
      width:60px;
    }

    p.p1 {
      color:green;
      height:1em;
    }

    p.p1_violated {
      color: white;
      background-color: red;
      height:1.3em;
    }		
		#header {
			position: relative;
			height: 150px;
		}
		
		#header img {
			float: left;
			border: 0 none transparent;
		}
		
		#header h1.logo a:hover {
			text-decoration: none;
		}
		
		#header h1.logo {
			font-size: 10px;
			clear: both;
			margin-left: 25px;
		}
		
		#header h1.slogan {
			float: left;
			line-height: 150px;
			margin-left: 10px;
		}
		
		#header #nav {
			position: absolute;
			bottom: 10px;
			right: 0;
		}
		
		#header #nav li {
			float: right;
			width: 100px;
			list-style: none;
		}
		
		#header #nav li a {
			font-size: 12px;
		}
		

		#form {
			text-align: center;
			margin: 20px auto;
			width: 800px;
		}
		
		#form textarea {
			display: block;
			width: 700px;
			height: 150px;
		}
		
		#footer {
			clear: both;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
	</style>
</head>
<body>
	<div id="agile">
		<div id="header">
			<a href="#"><img src="/logo.png" alt="" /></a>
			<h1 class="slogan"></h1>
			<h1 class="logo"><a href="#"></a></h1>
		</div>
		<div id="container">
      <table class="kanban">
        <tr>      
          <% @table.th1.each do |th| %>
          <th colspan='<%= th.colspan%>' rowspan='<%= th.rowspan%>'>
            <p class="p1<%= th.violated ? '_violated' : '' %>"><%= th.p1 %></p>
            <p class="p2"><%= th.p2 %></p>
          </th>
          <% end %>
        </tr>
        <tr>      
          <% @table.th2.each do |th| %>
          <th>
            <p class="p1<%= th.violated ? '_violated' : '' %>"><%= th.p1 %></p>
            <p class="p2"><%= th.p2 %></p>
          </th>
          <% end %>
        </tr>
        <tr>      
        <% @table.td.each do |td| %>
          <td>
          <% td.each do |div| %>
            <div id="card"><%= div %></div>
          <% end %>
          </td>
        <% end %>
        </tr>
      </table>
			<div class="clear"></div>
			<form id="form" action="" method="post">
				<textarea name="mensagem" id="mensagem" cols="50" rows="5">
selected(A,B,R,T)
development:5
  [acceptance:1(C,Z)]
  [in progress:3(Q,Y,W)]
  [done!()]
deployment:3(E)
in production(F,K,L,M,N)        
        </textarea>
				<input value="This is just a feedback demo - not working!" type="submit" />
			</form>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p><a href="#">Projeto Agile Brazil</a> - KANBAN Sketch</p>
		</div>
	</div>
</body>
</html>
